.home {
  .hero {
    min-height: 640px;
    @media screen and (max-width: $width-mobile) {
      min-height: 420px;
    }
    margin-bottom: 20rem;
    position: relative;
    justify-content: flex-end;
    // overflow: hidden;

    .scene {
      position: absolute;
      top: -10rem;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: grab;
      z-index: 1;

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .card {
      padding: 2rem;
      border-radius: 3rem;
      background: $color-overlay-1;
      max-width: 62rem;
      backdrop-filter: $style-blur-soft;
      -webkit-backdrop-filter: $style-blur-soft;
      z-index: 1;
      h1 {
      }
      h2 {
        margin-top: 1rem;
      }
      p {
        margin: 1rem 0;
      }

      .buttons {
        gap: 1rem;
      }
    }
  }
}
