$style-border-nocolor: 1px solid;
$style-border: $style-border-nocolor $color-border;

$style-blur-glow: blur(0.25rem);
$style-blur-soft: blur(1rem);
$style-blur-hard: blur(2rem);

$transition-fast: 0.2s ease-in-out;
$transition-slow: 0.4s ease-in-out;

$blendmode-button: var(--blendmode-button);

* {
  transition: background $transition-fast, color $transition-fast;
}

.overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: $color-overlay-shadow;
  opacity: 0;
  transition: opacity $transition-fast;
  backdrop-filter: $style-blur-soft;
  -webkit-backdrop-filter: $style-blur-soft;

  &.opened {
    opacity: 1 !important;
  }
}
