@import "../global";

footer {
  .wrapper {
    padding: 1rem;

    .footer {
      padding: 2rem;
      border-radius: 2rem;
      background: $color-overlay-1;
      gap: 1rem;
    }
  }
}
