@import "../global";

.logo {
  display: flex;
  width: fit-content;
  line-height: 1;
  gap: 0.5rem;

  svg {
    fill: $color-heading;
    height: 2rem;

    @media screen and (max-width: $width-mobile) {
      height: 1.5rem;
    }
  }

  .beta {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    padding: 0.3125rem 0.5rem;
    border: $style-border;
    border-radius: 0.6875rem;
    height: fit-content;
    letter-spacing: 0.02em;
    @media screen and (max-width: $width-mobile) {
      padding: 0.0625rem 0.4375rem 0 0.5625rem;
      height: 1.5rem;
      border-radius: 0.75rem;
    }
  }
}
